@use 'styles/foundation/navVariables' as nv;

.link {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
}

.link:hover {
    background-color: nv.$navHoverBG;
}

.info {
    display: flex;
    flex-flow: column;
    width: 75%;

    h1 {
        padding-bottom: 8px;
    }

    h3 {
        transition: opacity 0.5s;
    }
}

.score {
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}