@use 'styles/foundation/navVariables' as nv;

.nav {
    position: fixed;
    height: 100vh;
    width: nv.$navWidth;
    display: flex;
    background: nv.$navBackground;
    transition: right nv.$transitionTime;
    will-change: right;
    z-index: 2;

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        li:hover {
            background-color: black;

            span {
                background-size: 75% 0.1em;
            }
        }
    
        li {
            display: flex;
            cursor: pointer;
            height: 100%;
            transition: background-color nv.$transitionTime/2 ease-out;
            will-change: background-color;
                
            a {
                width: 100%;
                display: flex;
            }

            span {
                font-family: calibri;
                font-size: 25px;
                margin: auto;
                padding: 10px;
                display: flex;
                flex-direction: column;
                text-align: center;
                background: linear-gradient(white, white) bottom / 0.1em no-repeat;
                background-size: 0% 0.1em;
                transition: background-size nv.$transitionTime;
            }
        }
    }
}

$checkDim: 200px;

.check {
    position: fixed;
    background-color: nv.$navHoverBG;
    height: $checkDim;
    width: $checkDim;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
    cursor: default;

    > * {
        position: absolute;
        border: none;
        border-radius: 100%;
        background: none;
        transform: translateX(-50%) translateY(-50%);
    }

    img {
        left: $checkDim * 1.025/2;
        top: $checkDim * 2.2/8;
    }

    .confirm {
        display: flex;
        top: $checkDim * 4/6;
        left: $checkDim * 4.4/6;
        cursor: pointer;
    }

    .close {
        display: flex;
        background-color: #ff0001;
        top: $checkDim * 4/6;
        left: $checkDim * 1.6/6;
        cursor: pointer;
    }
}