@use 'styles/foundation/navVariables' as nv;

.ingredientsNav {
    position: fixed;
    height: 100vh;
    width: nv.$navWidth;
    display: flex;
    flex-direction: column;
    background: nv.$navBackground;
    transition: left nv.$transitionTime;
    will-change: left;

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex: 0 5 100%;
        transition: flex nv.$transitionTime;

        li:hover {
            background-color: black;

            span {
                background-size: 40% 0.1em;
            }
        }

        li {
            display: flex;
            cursor: pointer;
            height: 100%;
            transition: 
                background-color nv.$transitionTime/2 ease-out,
                border-left nv.$transitionTime/2 ease-out;
            will-change: background-color, border-left;
        
            span {
                font-family: calibri;
                font-size: 25px;
                margin: auto;
                padding: 10px;
                display: flex;
                flex-direction: column;
                text-align: center;
                background: linear-gradient(white, white) bottom / 0.1em no-repeat;
                background-size: 0% 0.1em;
                transition: background-size nv.$transitionTime;
            }
        }
    }
}