.IngredientCard {
    display: flex;
    width: 50%;
    padding: 15px;
    justify-content: center;

    label {
        padding: 20px;
        margin: auto;
    }

    span {
        padding-left: 10px;
    }
}