@use 'foundation/navVariables' as nv;

.tab {
    display: flex;
    transition: height nv.$transitionTime;
    
    > * {
        flex-flow: row wrap;
        overflow: auto;
        direction: rtl;
        display: none;
    }
}

.focus {
    display: flex;
    margin-bottom: nv.$ingredientCardSpacing;
}