@use 'foundation/navVariables' as nv;
$navMargin: 10px;
$transitionTime: 0.4s;

.nav {
    position: fixed;
    height: 100vh;
    width: 20vw;
    display: flex;
    background: nv.$navBackground;
    transition: left $transitionTime;
    will-change: left;

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: $navMargin;

        li:hover {
            background-color: black;

            span {
                background-size: 75% 0.1em;
            }
        }
    
        li {
            display: flex;
            cursor: pointer;
            height: 100%;
            border-radius: 5px;
            margin: $navMargin;
            background-color: nv.$navBackground;
            border: outset 5px grey;
            transition: background-color $transitionTime ease-out;
            will-change: background-color;
                
            span {
                font-family: calibri;
                font-size: 30px;
                margin: auto;
                padding: 10px;
                display: flex;
                flex-direction: column;
                background: linear-gradient(white, white) bottom / 0.1em no-repeat;
                background-size: 0% 0.1em;
                transition: background-size $transitionTime;
            }
        }
    }
}